/*********************
CSS in this file will be for the create record page
**********************/
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  margin-left: 5%;
  margin-right: 5%;
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

input {
  margin-top: 10px;
}

.imageSection {
  background-image: url('../images/plantsGrowing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
