/*********************
CSS in this file will be for the create record page
**********************/
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageSection {
  background-image: url('../images/plantsGrowing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
