/***********
This file has CSS for the home page
***********/
#tableArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
