/*********************
CSS in this file will be for the update note page
**********************/
header {
  margin: 50px 0 30px 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
